[2016-11-22 14:08] ImNtReal opened #6 "Build fails on Arch Linux"
When I try to build on Arch, the govendor sync step fails with:
Error: Package "/home/imntreal/do-agent/src/do-agent-0.4.5" not a go package or not in GOPATH.

Setting $GOPATH to "/home/imntreal/do-agent/src" doesn't help.

[2016-11-22 15:44] ankur-jain commented on #6
We currently do not support Arch Linux.
As we expand the support of our agent, we may include Arch Linux support. Currently we support only following Linux distributions: Ubuntu, CentOS and Debian.

[2016-11-22 15:50] ImNtReal commented on #6
I got the same thing when I simply downloaded the tarball, extracted it, and ran make build on CentOS.

[2016-11-28 02:28] #6 closed

[2016-12-03 02:39] yteraoka opened #7 "0.4.5 rpm package doesn't exist"
Hi, I just created CentOS 7 droplets and check new monitoring dashboard.
But doesn't show new metrics.
I checked install script and found logs below.

[code]

Install script find latest version from debian package list. It is 0.4.5 now.
But rpm package doesn't exist yet. preparing now?

[2016-12-03 04:20] cagedmantis commented on #7
Hi @yteraoka. Thanks for pointing this out. This inquiry should go through our support department since it isn't an issue in the actual do-agent code. Please open a support ticket at: https://www.digitalocean.com/company/contact/

[2016-12-03 04:38] cagedmantis commented on #7
This issue has been fixed.

[2016-12-03 04:38] #7 closed

[2016-12-15 22:17] vikin91 opened #11 "Unable to read credentials: unexpected response from metadata API, status 500: internal server error"
I encounter the following error after running do-agent manually. No new graphs are visible in the web interface as well. I tried force update but it didn't help. How can help with debugging/get it running?

[code]

[2016-12-17 09:53] Spaider commented on #11
Same story here. Installed agent via script, not with droplet creation. Service re-starting didn't work.

[2016-12-17 14:14] cagedmantis commented on #11
Hello @vikin91 and @Spaider. The issues mentioned above are not issues necessarily software issues with the do-agent. If you open up a support ticket with us at https://www.digitalocean.com/company/contact/ it would help us track down the problem you are seeing.

[2016-12-18 09:55] Spaider commented on #11
Definitely this is not a do-agent software issue. DigitalOcean Metadata API does not return auth-token here:
https://github.com/digitalocean/do-agent/blob/master/cmd/do-agent/main.go#L117
https://github.com/digitalocean/go-metadata/blob/master/client.go#L149

I've created a ticket with ID **1322717**. Unfortunately, I am not able to figure out how to give an URL to this ticket :)

[2016-12-19 01:04] alzeih commented on #6
I don't get an error here in Arch when this repository is cloned to path

`$GOPATH/src/github.com/digitalocean/do-agent`

See Notes in https://github.com/kardianos/govendor/blob/master/README.md and https://wiki.archlinux.org/index.php/Go#.24GOPATH

[2016-12-20 08:25] Spaider commented on #11
@cagedmantis @vikin91 issue with API authorization has been resolved by DO engineers.

[2016-12-20 08:57] alzeih opened #12 "Include init scripts in source code for packaging"
The provided rpm and deb packages include init scripts for the associated platform. Could these be included here?

I think it will make it easier for other distributions to package do-agent, and make it clear if these files are covered by the same license as the source.

[2016-12-20 09:05] alzeih commented on #12
I've extracted the files I have found from the packages, and I can post them here (as a gist) if this would be agreeable.

[2016-12-23 15:34] eRadical commented on #12
I would also like to make a file for systemd after the init one...

[2016-12-23 15:37] cagedmantis commented on #12
We plan to add the init scripts to the repository. They should be considered to have the same license as the project.

[2016-12-24 08:21] alzeih commented on #12
Here are the files I extracted from the .deb and .rpm:

https://gist.github.com/alzeih/517e32c29a10b59d66902be41582ff61

@eRadical these do contain a systemd service file

[2017-01-07 19:54] Marak opened #14 "Project RoadMap? Proposed Features?"
Hello!

I've been using the new `do-agent` for a few production DO instances and am generally happy with how it's working.

I'm curious, is there a project roadmap for `do-agent`? Is there a list of proposed or intended upcoming features?

[2017-01-09 17:40] cagedmantis commented on #14
Hello @Marak
We posted some information on the [DigitalOcean blog](https://www.digitalocean.com/company/blog/improved-graphs/)  which contains some future plans for the agent. That's probably about as much as we are willing to share at this point. Please feel free to submit any recommendations or desired functionality to our [User Voice](https://digitalocean.uservoice.com) site.

I'm going to clos

[2017-01-09 17:40] #14 closed

[2017-01-11 17:36] xmudrii commented on #14
Hi @cagedmantis !
I'll use this issue for my questions as it's somewhat relevant. As project welcomes contributions, and I'm looking to contribute, what does need to be done? I know that suite of tools and probably plugins are next, but there is no information on what does need to be done. Also, there are no opened issues or PRs. If there is anything to do, I'll be more than glad to help. =)

[2017-01-19 17:47] electropolis opened #16 "DEB repo"
Is https://repos.sonar.digitalocean.com/apt main main avalaible? Because I get

`W: Failed to fetch https://repos.sonar.digitalocean.com/apt/dists/main/main/binary-amd64/Packages  Hash Sum mismatch`

[2017-01-19 18:16] cagedmantis commented on #16
Hi @electropolis
That may have been a momentary glitch. It's not really an issue with the agent code itself. If the problem persists please reach out to Digitalocean support and open a ticket with them.

[2017-01-19 18:16] #16 closed

[2017-01-21 19:54] doom369 opened #17 "Agent shows wrong traffic"
Hello guys. Thanks for nice script. However after few hours of monitoring I found some inconsistencies between real droplet data and what agent show.

I have constant traffic for my droplet for ~1.0 Mbps in and out.

![low_traffic](https://cloud.githubusercontent.com/assets/1536494/22177316/f0d79844-e023-11e6-82ea-b7798a07b899.png)

Agent shows 0.07 Mbps in and 0.08 Mbps out. This is impossible. I

[2017-01-22 02:29] cagedmantis commented on #17
Hi @doom369 ,
Please open a ticket with [DigitalOcean support.](https://www.digitalocean.com/company/contact/). We will work with you to help fix this issue.

[2017-01-22 02:29] #17 closed

[2017-01-27 15:09] kaithar opened #19 "Protocol documentation?"
To make this slightly more useful, is it possible to document the protocol used beyond it being gRPC, and ideally the exception the client has of the server side?  That would make it easier for both adding new metric collection and pointing it towards third party collection servers.

[2017-01-27 15:41] mattkanwisher commented on #19
Yeah definitely we need to document this. Any applications you want to expand this for? I would love to hear your usecases.

 On a high level the metrics are the Prometheus  protocol featured here (https://docs.google.com/document/d/1ZjyKiKxZV83VI9ZKAXRGKaUKK2BIWCT7oiGBKDBpjEY/edit#heading=h.wnviarbnyxcj), its not grpc but protobufs over http . The auth is done with a header called X-Auth-Key.

[2017-01-29 20:47] kaithar commented on #19
My primary use case is home brew monitoring on various bits of baremetal, this project feels like a good candidate for an environment agnostic monitoring agent.  If it's as happy monitoring minecraft server users or i2c connected ADCs as it is monitoring disk use then it makes for a very reusable project 👍

[2017-02-01 11:23] gripedthumbtacks opened #21 "bug: "Unable to create repository file""
there appears to be an error in this section

[code]

[2017-02-04 13:58] blackknight36 opened #22 "Build fails on FreeBSD"
Running make build fails on FreeBSD nodes.  Here are the errors shown on my node which is running FreeBSD 10.3.

[code]

[2017-02-04 22:53] xmudrii opened #23 "What are features that could be done in near future?"
Hello,

I'm looking to contribute to `do-agent` if there is anything to do.
About a month ago, I asked in #14 [what can be done](https://github.com/digitalocean/do-agent/issues/14#issuecomment-271936347), but I got no answer from then.
There are no PRs or issues (beside #21 which I'll look into it).
Beside upcoming features, are there any things that need to be done? Some tweaking, bug fixing, is

[2017-02-05 17:31] geoffgarside commented on #22
Need to use `gmake` rather than `make` as the Makefile uses GNU semantics rather than BSD semantics.

[2017-02-06 03:26] blackknight36 commented on #22
Thanks, I tried that but the build is still failing after installing the go package.  I also set the GOPATH to /usr/local/go but gmake build claims that it is not set.

root@bsd1:/usr/src/do-agent # set
GOPATH	/usr/local/go

root@bsd1:/usr/src/do-agent # gmake build

package github.com/kardianos/govendor: cannot download, $GOPATH not set. For more details see: go help gopath
gmake: *** [Makefile:2

[2017-02-06 08:50] geoffgarside commented on #22
I found it a bit easier to set the values in my shell properly like below, this seems to fix the `gmake` sub-shells getting the environment variables properly.

[code]

Then I ran the following

[code]

[2017-02-06 15:23] blackknight36 commented on #22
Thanks, that appears to have fixed the build but unfortunately the agent doesn't actually work.

017/02/06 15:22:17 Do-Agent version dev
2017/02/06 15:22:17 Do-Agent build master.73b04ed
2017/02/06 15:22:17 Architecture: amd64
2017/02/06 15:22:17 Operating System: freebsd
2017/02/06 15:22:17 Checking for newer version of do-agent
2017/02/06 15:22:17 Unable to update do-agent: Update: Error determi

[2017-02-14 21:53] tbartelmess commented on #22
@blackknight36 yeah it looks like the do-agent currently uses procfs to get most of it's data, which is a linux thing. However you can mount a procfs in FreeBSD using https://www.freebsd.org/doc/en/articles/linux-users/procfs.html

[2017-02-15 12:41] blackknight36 commented on #22
@tbartelmess I mounted /proc but it didn't make any difference.  /proc/self/exe doesn't appear to exist in FreeBSD.

[2017-02-15 12:53] geoffgarside commented on #22
It'll likely need implementing in terms of the sysctl interface for FreeBSD support

[2017-02-15 15:36] cagedmantis commented on #22
As mentioned above, do-agent relies completely on data collected from the proc pseudo filesystem. It would take a bit of research to find how and where the corresponding metrics are exposed on a vanilla deployment of FreeBSD. It's not currently supported because of this.

[2017-02-15 18:57] tbartelmess commented on #22
@cagedmantis let me know if you want a PR for FreeBSD stats. However there are most likly going to be some changes to exsting code since procfs is really central at this point.

[2017-02-17 08:55] krzysztofantczak commented on #22
Guys, perhaps switching to this project https://github.com/shirou/gopsutil/ to get stats of VM will help? It works on all major platforms.

[2017-03-01 00:16] Nefari0uss commented on #6
@ImNtReal Did you ever get this working? I've tried to use the AUR package which installs just fine but not sure what I need to do to enable graphs.

[2017-03-01 01:28] alzeih commented on #6
@Nefari0uss to run it just (as root) `systemctl enable --now do-agent.service`.

I also added https://aur.archlinux.org/packages/do-agent-git/ to the AUR if you want the git version for some reason.

[2017-03-01 07:11] Nefari0uss commented on #6
Ah. Should have realized that it's a service. I'll give it a go. Thanks @alzeih!

[2017-03-03 22:56] TrurlMcByte opened #28 "Feature request: Add external Prometheus metrics"
May you add also Prometheus metrics support for internal monitoring?
On agent itself or as part of DO API.

[2017-03-31 13:46] tbartelmess commented on #22
Any plans for FreeBSD support?

[2017-04-05 15:23] lucasyvas opened #32 "FR: CoreOS"
The announcement noticeably omitted CoreOS. Is there a technical reason for this? I'm not savvy in all the reasons why this might be. Perhaps the most popular were targeted first?

[2017-04-06 09:43] TrurlMcByte commented on #32
I'm using own build with, created via ```CGO_ENABLED=0 make```

[2017-04-10 16:01] utlemming commented on #32
There is no particular reason why the Agent is not supported on Core-OS other than the integration story. For example:
1. How do we automatically install the Agent?
2. Integration with SystemD to auto-start the Agent?
3. What about upgrades?

I spent a fair amount of time scoping the work to make the agent magically work on CoreOS. I am a big fan of doing things the way the distro _intends_ and to

[2017-04-10 16:04] TrurlMcByte commented on #32
I'm using my own way via fleetd with custom deploy. But it's mean "manual" build in any case (run one script if repository have changes).

[2017-04-11 16:02] enlyt opened #33 "Agent install.sh fails on Centos 6"
I wasn't really sure where to post this issue, as it relates to the script hosted on the following:
`curl -sSL https://agent.digitalocean.com/install.sh | sh`

Hopefully you guys can find the proper home for it.

The following line in the install.sh script fails on my platform, as the output for the following yields two results:
`rpm -q --whatprovides redhat-release --queryformat "%{VERSION}\n" |

[2017-04-11 16:26] utlemming commented on #33
taking a look....

[2017-05-02 10:28] kolargol opened #35 "do-agent cannot be installed on Debian with sysvinit (apparently)"
Latest 0.4.11, apt install fails with:

[code]

this is on Debain with systemd removed and running under SysV

[2017-05-17 00:25] jdtech3 commented on #21
Same error on v0.4.10

[code]

[2017-05-17 15:03] utlemming commented on #21
You may need to restart the agent.
Can you also tell me what the OS/Version is?

Starting with 0.4.11, the _packaged_ agent uses `/run/digitalocean` via systemd for the update path. I'm working on opensourcing the packaging so that should help.

In the meantime, you can run:
`curl -sSL https://agent.digitalocean.com/install.sh | sh` which will update the agent and include the updated startup scrip

[2017-05-20 11:06] joshrabinowitz opened #37 "do-agent reinstalls on reboot on centos7"
Hello,

If I install and then uninstall do-agent, and then reboot, the do-agent is automatically reinstalled.

To replicate, use the following process (on Centos7):
[code]
Expected result: do-agent not installed nor running

Actual result: do-agent installed and running

[2017-05-25 15:03] joshrabinowitz commented on #37
More detailed log:

[code]

[2017-06-04 14:11] sevoma commented on #32
Fleetd and Docker Swarm service deployment options would be great.

@TrurlMcByte, could you share your fleetd config?

For anyone looking for other options, Datadog's free tier supports up to 5 hosts and supports etcd config and docker containers: https://www.datadoghq.com/blog/monitor-coreos-scale-datadog/
You can also run dd as a Docker Swarm service. If you go the dd route, you can get containe

[2017-07-04 05:41] BondAnthony opened #39 "Missing env override for metadata url"
Include metadata url override information in the readme.

[2017-07-05 20:13] #37 closed

[2017-07-06 22:58] nullmem opened #41 "Cloudlinux support"
Cloudlinux is pretty much a rebranded copy of CentOS with some extra security features and agent should work just fine on it. Any plans to add support for Cloudlinux? Is there a way to force the install to see if it will work?

[2017-07-24 13:55] ChrisHardie opened #43 "tuf error, failed to decode root.json"
For the last few days I've been seeing this error go by in my logs:

`Unable to update do-agent: Update: Error initializing repository: tuf: failed to decode root.json: expired at 2017-07-22 15:27:54 +0000 UTC`

The do-agent binary was last updated on July 19 and that's about when the issue started. It sounds like tuf is trying to reference a file/resource that is somehow considered expired.

Look

[2017-07-29 10:35] bazbremner opened #44 "Packaging code not present in repo, possible issue in RPM scripts"
Installing do-agent v0.5.0 on a CentOS 7 machine, there's a error from a shell conditional, I assume in one of the install-time scripts:

[code]

I was hoping to see how do-agent was packaged and hence see about fixing and opening a PR for the issue above, however there doesn't appear to be any packaging related code and it also appears that the package repo is hosted on S3 and so it's not straigh

[2017-08-05 07:55] laurencei commented on #43
I have this exact issue. It is appear on all my droplets (I have 6) - every hour, every droplet since similar time to @ChrisHardie.

I've tried forcing an update (already on `0.5.0`) and uninstall/reinstalling etc - nothing solves it.

[2017-08-13 14:23] adiohaion commented on #43
I have the same issue on our production server. Also tried to reinstall the agent which didn't help.

[2017-08-14 18:45] utlemming commented on #43
Fix is inflight. We don't have an update to the agent right now (0.5.0 is the latest), so the message is noise. But I am going to fix it this week :

[2017-08-16 07:23] infiniweb commented on #43
@utlemming until now I didn't received data in the Graph in DO for my droplet affected by this issue. However since now one or two days I can see data in the Graph section. Was it linked to this issue?

While I still see the tuf error to decode root.json but I get reporting... Every hours I can still see the same error:
`Unable to update do-agent: Update: Error initializing repository: tuf: failed

[2017-08-16 12:03] utlemming commented on #43
Tuf is an update framework which is seperate from the reporting of graphs. If you are not seeing Graphs, please reach out to support; the two issues are seperate. The `root.json` expiration just means that the agent will not update to the next version. Since there is no next version yet, its a cosmetic issue for now.

[2017-08-16 12:19] infiniweb commented on #43
@utlemming thanks for the clarification.

[2017-08-16 21:55] utlemming commented on #43
Thank you all for your patience. I've confirmed that the fix is rolled out. Your agents should see the fix shortly.

[code]

[2017-08-16 21:56] #43 closed

[2017-08-22 00:39] jmullee opened #46 "debian: apt-transport-https"
This might help someone out -
For whatever reason, my Debian8/jessie install was lacking the needed package "apt-transport-https".
run

    apt-get install apt-transport-https

before

    echo "deb https://repos.sonar.digitalocean.com/apt main main" > /etc/apt/sources.list.d/sonar.list

[2017-09-07 19:08] amejiarosario opened #47 "New graphs not showing up"
I installed the agent using `curl -sSL https://agent.digitalocean.com/install.sh | sh` on a Ubuntu 16 machine. Two days later and I still don't see the new graphs like disk usage and memory in the DO dashboard. Is there any way to debug it/logs?

[2017-09-08 19:43] kicco opened #48 "tufLocalStore is not being created"
Hi I'm experiencing issues when i try to start do-agent:
`2017/09/08 15:41:28 Unable to read credentials: DigitalOcean sonar service returned unexpected status: 401`

tufLocalStore file is not being created, tried to update/re-install...

[2017-09-19 15:43] gjsman commented on #47
I am having the same problem. ???

[2017-09-19 20:35] amejiarosario commented on #47
After some time they started showing up... closing

[2017-09-19 20:35] #47 closed

[2017-10-02 00:36] sigmundv opened #49 "Script install.sh adds the wrong baseurl in RPM repo file /etc/yum.repos.d/digitalocean-agent.repo"
The install instructions for `do-agent` tell me to run the command `curl -sSL https://agent.digitalocean.com/install.sh | sh`, but doing that fails on my Fedora 26 droplet. The script `install.sh` adds a repo called `digitalocean-agent` by writing a file `/etc/yum.repos.d/digitalocean-agent.repo` like this

[code]
The reason this repo doesn't work is that `\$basearch` leads to an invalid `baseurl`

[2017-10-02 15:07] utlemming commented on #49
Thanks, and its now fixed.

[2017-10-02 15:07] #49 closed

[2017-10-05 10:37] anishvarghese commented on #21
Same error on 0.5.1-1.
I am using CentOS Linux release 7.3.1611
----------------------
Oct  5 05:34:14 stage do-agent[675]: 2017/10/05 05:34:14 Unable to update do-agent: Update: Unable to create repository file: /run/digitalocean-agent/tufLocalStore
Oct  5 06:01:01 stage systemd: Created slice user-0.slice.
-----------------------
Digital Ocean server went down after hitting these alerts continuo

[2017-10-17 15:31] pehbehbeh commented on #48
Same issue here. Have you found out anything?

[2017-10-22 19:52] NicholasPCole commented on #48
Have either of you opened a ticket for our support team on this (and have a ticket number that you wouldn't mind sharing here)? It may be a Droplet-level issue that our engineers can run a fix for on the underlying hypervisor, but it'd be good to have the report internally too so we have a good idea how many customers are affected.

[2017-10-23 08:49] pehbehbeh commented on #48
Yes, I did: 689653

[2017-10-31 06:33] YossiAharon commented on #48
I also have the same issue and opened a ticket (#677637) but this issue not solved yet even after they migrated my droplet to another hypervisor.

[2017-10-31 09:39] kicco commented on #48
Yup I opened ticket #587327 and a couple of others while I was digging up the issue.

Running `systemctl status do-agent` it shows sonar returning 401s. I tried purge do and reinstall, force v0.5.0 but no dice. I `touched` the file in `/run/digitalocean-agent` but no dice either, ended up rebuilding the droplet.

[2017-12-13 08:52] #23 closed

[2018-01-28 20:32] yaazkal commented on #35
Hi I get the same error on version 0.5.1.
Debian 8.10
sysvinit

Is there plans to support it?

[code]

[2018-02-17 15:29] HLFH commented on #21
I finally removed `nobody` User & Group within the systemd .service file.

I no longer have this issue:

With:
[code]

[2018-03-08 12:34] BeatriceFendt opened #51 "FR: RancherOS"
It would be great to use the do-agent on RancherOS 👌

[2018-03-09 08:39] danackerson commented on #32
as easy as:
[code]

[2018-03-11 09:57] SuperDaveAU commented on #22
Sorry to poke an old thread, but I support for FreeBSD on the roadmap?

Having looked at the code it looks like there will need to be several changes to the code to accommodate this, but before doing that I think the project would need to make a decision.

Is it better making a fork, or would you like do-agent to be used for ALL the droplets that DigitalOcean support including CoreOS and FreeBSD?

[2018-03-12 15:33] utlemming commented on #22
@SuperDaveAU We would be more than happy to consider a set of patches to enable FreeBSD. However, switching Linux from ProcFS would probably be a non-starter. If you're willing to do the work, we can have the conversation.

ALSO, its worth noting that the agent _does_ work on CoreOS and Rancher.  The problem in terms of support is the packaging and distribution of them. I have done some work on co

[2018-03-12 16:12] SuperDaveAU commented on #22
@utlemming, am I correct in thinking that almost all of the metrics are derived from reading values in ProcFS?

[2018-03-12 23:04] alzeih opened #52 "Using plugin data for monitoring, graphing and alerting"
I've tried using plugins for do-agent.

I can use the plugin https://github.com/digitalocean/do-agent/blob/master/plugins/test.sh with do-agent.

The plugin sends that data from that plugin to DigitalOcean. This is great :+1:

How do I use the data sent with that plugin?
How do I access that data?
How to I graph it, or alert on it?

(n.b: I've already asked DO support who recommended opening an is

[2018-03-20 20:36] aacunaa commented on #35
Hello, the same error but with systemd

`sh /tmp/install.sh
Detected Debian GNU/Linux 8 (jessie)...installing the DigitalOcean Agent
Reading package lists... Done
Building dependency tree
Reading state information... Done
apt-transport-https is already the newest version.
curl is already the newest version.
0 upgraded, 0 newly installed, 0 to remove and 92 not upgraded.
1 not fully installed or re

[2018-03-24 17:22] thusoy opened #53 "Run service under dedicated user"
Currently the do-agent runs as the `nobody` user on debian, a user which is supposed to have no privileges. However, with a firewall that defaults to blocking outbound requests the nobody user does by default not have network privileges, and I want to be able to let the do-agent through the firewall without doing so for `nobody`, since that's not exclusive to do-agent. It's also better for logging

[2018-04-04 11:33] malkir commented on #32
+1 this

@utlemming would it be possible to leverage CoreOS's strengths, and have the user manage monitoring themselves by creating a do-agent service to add to their swarm cluster? Seems like a middle ground that could be achieved.

[2018-04-21 23:32] mcm-ham opened #54 "x509: failed to load system roots and no roots provided"
I got the following error when trying to run the do-agent docker container on rancheros:
[code]
The fix was to update dockerfile to install ca-certificates:
[code]

[2018-04-21 23:34] mcm-ham commented on #51
The readme mentions how to build the agent in a docker container and run it which works in rancheros. However, I had to make this fix first: https://github.com/digitalocean/do-agent/issues/54

[2018-05-04 12:07] ekollof commented on #22
man 5 linprocfs, it's part of the Linux compat system inside FreeBSD, but it might make a nice stopgap.

[2018-05-14 21:26] AlmightyOatmeal commented on #22
There are Linux compatibility libraries that can be installed that will give you a compatible Linux procfs access:
[code]

So, to enable linprocfs on a FreeBSD host
1) Add this to /etc/rc.conf:
[code]

2) Add this to /etc/sysctl.conf (well, it's what I'm currently using anyway):
[code]

3) Add this to /etc/make.conf:
[code]

4) Add this to /etc/fstab:
[code]

5) Create the necessary directories
[c

[2018-05-15 07:45] ekollof commented on #22
You don't need the linuxulator to mount the linprocfs. And htop has a native FreeBSD port.

[2018-05-17 14:44] pib opened #56 "make crashes if $GOPATH has multiple paths."
Go lets you have multiple paths in your GOPATH environment variable. It will use the first path provided for things like `go get`, but it will look for packages in all specified paths. This is useful for keeping your own packages separate from packages installed as dependencies (or tools, since vendoring is the typical way to install dependencies). For example, I usually have my `GOPATH=/home/pib/

[2018-08-08 11:03] TrurlMcByte opened #57 "Running under Kubernetes"
Stuck in "Check back soon, we're loading new metrics" state running on kubernetes
Image created on last master
[code]

logs after 25 minutes running:
[code]
DaemonSet:
[code]

Any solutions how to find where is problem?

[2018-08-08 11:33] TrurlMcByte commented on #57
found itself wrong mountPath: /host/proc
must be /agent/proc

[2018-08-08 11:44] #57 closed

[2018-08-09 07:28] razorshaleh opened #58 "how to solve server may be slow or overloaded digitalocean ?"
please help me sir :( how to solve server may be slow or overloaded in digitalocean ?

my spec droplet =
 16 GB Memory / 80 GB Disk / SGP1 - Ubuntu WordPress 4.9.1 on 16.04

my website in myserver :
https://modelunitednation.org
https://youtex.org/
https://sasambo.org/

mywebsite always Up & down after opened web

[2018-08-13 17:47] nullmem commented on #41
Hopefully, this helps someone:

1. Create a new file: /etc/yum.repos.d/digitalocean-agent.repo
2. Add the following contents:

`
[digitalocean-agent]
name=DigitalOcean agent
baseurl=https://repos.sonar.digitalocean.com/yum/$basearch
failovermethod=priority
enabled=1
gpgcheck=1
gpgkey=https://repos.sonar.digitalocean.com/sonar-agent.asc
`
3. yum install do-agent -y

Everything works but Disk I/O. T

[2018-09-16 09:26] CanRau opened #59 "docker image missing"
Good sunday morning :)
Just tried pulling the image on a new CoreOS doplet but it doesn't seem to exist anymore the [hub](https://hub.docker.com/_/do-agent/) page shows 404 and docker pull isn't able to access either

What a pity :/
Anything I missed?

[2018-10-02 08:52] mcm-ham commented on #54
Fixed

[2018-10-02 08:52] #54 closed

[2018-10-02 08:54] mcm-ham commented on #51
Thanks JayAndCatchFire, this issue is now fixed and can be closed.

[2018-10-09 22:07] TakeMeNL opened #60 "FR: Alpine 3.7/3.8 via APK"
It would be great to use the do-agent on Alpine 3.7/3.8 via APK👌

[2018-11-07 07:06] #58 closed

[2018-11-09 20:01] normaclyde commented on #59
DigitalOcean person here.  Sorry for the delay.  We're in the process of rolling out a new metrics agent, which is now in private beta.  It's based off of Prometheus [node_exporter](https://github.com/prometheus/node_exporter), so will be easier to plug in new metrics scrapers in the future.

If you would like to try it out the instructions are in the repo [here](https://github.com/digitalocean/me

[2018-11-27 15:18] markruys opened #61 "do-agent write: connection reset by peer"
In our syslog on Debian 9 machines, I get a lot of lines like:

[code]

Is this expected? If not, what is the issue? To me it looks like the ams3.sonar.DO.com endpoint is overloaded sometimes?

Graphs seem to have proper performance data.

[2018-12-18 17:42] blackknight36 commented on #22
@AlmightyOatmeal Thanks for the help.  I've verified that the changes listed above work in FreeBSD 10.3 however the go package fails to build due to a missing docker package.

[code]

At this point I'm not sure it's even worth pursuing this issue.

[2018-12-21 09:39] thusoy commented on #53
This is still an issue I would like to see resolved but can't fix on my own.

[2018-12-24 21:37] #12 closed

[2018-12-24 21:37] #19 closed

[2018-12-24 21:37] #28 closed

[2018-12-24 21:37] #33 closed

[2018-12-24 21:37] #39 closed

[2018-12-24 21:37] #44 closed

[2018-12-24 21:37] #46 closed

[2018-12-24 21:37] #48 closed

[2018-12-24 21:37] #21 closed

[2018-12-24 21:37] #52 closed

[2018-12-24 21:37] #35 closed

[2018-12-24 21:37] #32 closed

[2018-12-24 21:37] #56 closed

[2018-12-24 21:37] #41 closed

[2018-12-24 21:38] #51 closed

[2018-12-24 21:38] #60 closed

[2019-01-03 15:57] blockloop commented on #22
Unfortunately FreeBSD isn't one of our supported systems, however it might be possible to get a build. You'll notice the BSD version of `find` is also complaining about improper flags because our Makefile is built with GNU semantics. If you tinker with it enough you might be able to produce a binary. It might be easier to run the go build command manually with `go build -ldflags target/do-agent-fr

[2019-01-03 15:58] blockloop commented on #22
That being said, I'm going to close this issue because we don't support FreeBSD at this time.

[2019-01-03 15:58] #22 closed

[2019-01-03 16:22] blockloop commented on #61
Sorry for the late response @markruys. We're looking into this and will have some info for you soon.

[2019-01-05 09:49] Gesias commented on #35
I have the same issue, any update?

[2019-01-14 23:50] klamontagne commented on #59
Hello! the readme now says to pull [digitalocean/do-agent](https://hub.docker.com/r/digitalocean/do-agent). It seems to have been changed among #66

[2019-01-17 01:50] chapinb opened #74 "Update: Error initializing repository: tuf: missing remote metadata root.json"
Before opening an issue, make sure there is not a similar issue [already open](https://github.com/digitalocean/do-agent/issues)

* Appears related to #43

## Describe the problem

Error in logs `Unable to update do-agent: Update: Error initializing repository: tuf: missing remote metadata root.json`

## Steps to reproduce

Though this message appears nearly-hourly, it is also generated when runnin

[2019-01-17 11:40] saharben commented on #74
Same issue on CentOS Linux 7.6.1810.
Kernel version: Linux 3.10.0-957.1.3.el7.x86_64.

./do-agent -force_update
2019/01/17 13:37:24 Do-Agent version 0.5.1
2019/01/17 13:37:24 Do-Agent build HEAD.c799b1e
2019/01/17 13:37:24 Architecture: amd64
2019/01/17 13:37:24 Operating System: linux
2019/01/17 13:37:24 Checking for newer version of do-agent
2019/01/17 13:37:24 Unable to update do-agent: Update:

[2019-01-17 14:49] blockloop commented on #74
Yesterday we removed the tuf metadata from our repositories and are no longer supporting it. Although the agent makes noise, it should continue to operate normally. We will be pushing an officially updated version of the agent with the tuf code removed in the coming weeks. The new version of the do-agent will use standard Linux package managers for updating.

[2019-01-17 15:30] rickmacgillis commented on #74
@blockloop - So we can expect log bloat which clouds our alerts for weeks? That could pose a security risk if we don't look through the list thoroughly enough when real problems are in the list.

Any chance you can find a solution to mask this error if it's a false positive?

[2019-01-17 15:50] rickmacgillis opened #75 "Repo name change main -> beta"
Before opening an issue, make sure there is not a similar issue [already open](https://github.com/digitalocean/do-agent/issues)
- Doesn't seem to be an existing issue

## Describe the problem
When I manually ran `sudo apt-get update` to update the list of repos, I saw the following items.
[code]
As `main` insinuates it's for general releases IMO, it sounds like the general release channel got repu

[2019-01-17 16:20] thorfour commented on #74
@rickmacgillis We're looking into copying over the tuf metadata as a stopgap to suppress any errors.

[2019-01-17 18:04] blockloop commented on #74
We've pushed a fix earlier today. You should no longer see the issue. Sorry about that!

[2019-01-17 18:04] #74 closed

[2019-01-17 18:05] blockloop commented on #75
Okay we've pushed a fix for now

[2019-01-17 18:05] #75 closed

[2019-01-25 11:57] CanRau commented on #59
Great 🎉  than I'll close this issue?!

[2019-01-25 11:57] #59 closed

[2019-01-26 15:48] adamwight commented on #22
It would be great if you could point us to documentation about the do-agent communication protocol.  None of the issues above seem like a blocker, but if FreeBSD won't be officially supported then we're probably better off cloning the functionality rather than forking this project.

[2019-01-26 16:12] adamwight commented on #22
Would it be possible to set up a different prometheus client to export to DO's sonar?

[2019-02-01 16:13] #53 closed

[2019-02-01 17:23] miroswan commented on #61
We're not seeing anything on our end. If this is continuing to be an issue on your end, please open up a ticket with support. Thanks!

[2019-02-01 17:23] #61 closed

[2019-02-03 17:48] danramteke commented on #57
For others that find this via Google, here is the yaml I'm using for the DO Agent under DO Kubernetes:

[code]

[2019-02-06 16:21] blockloop commented on #57
@danramteke we will be releasing the docker `1` tag soon which will be preferred. We have a k8s-daemonset.yml file at the root of this project that we will be using internally. For now the `-rc` tags should not be considered stable and they may or may not exist in the near future. Once we push the final version of the new v1 you will have tags for `1`, `1.0`, `1.0.16` and so on.

[2019-02-25 23:01] jesugmz opened #105 "Add support for CoreOS"
As discussed in #32 - which is closed by inactivity - an agent can be deployed using a container (see https://github.com/digitalocean/do-agent/issues/32#issuecomment-371748667).

Please, consider adding this as an option.

[2019-02-25 23:13] jesugmz commented on #105
Just realize this is already implemented! https://github.com/digitalocean/do-agent#run-as-a-docker-container

Thanks guys.

[2019-02-25 23:13] #105 closed

[2019-03-11 10:11] mwijngaard opened #111 "Apt repositories (at least for ubuntu bionic) contain only latest version in 0.x branch."
Before opening an issue, make sure there is not a similar issue [already open](https://github.com/digitalocean/do-agent/issues)

## Describe the problem
Apt repositories (at least for ubuntu bionic) contain only latest version in 0.x branch, which is over 2 years old.

## Steps to reproduce
Run recommended install method ubuntu Bionic:
`curl -L https://agent.digitalocean.com/install.sh | sudo bash

[2019-03-12 14:52] Hoenn commented on #111
@mwijngaard , if you're looking to install the new agent (the code in this repo), the install instructions can be found here https://www.digitalocean.com/docs/monitoring/how-to/switch-agents/ . The new agent will eventually be made available through `agent.digitalocean.com/install.sh` but in the mean time check the docs if you'd like to opt in to using the new agent beta.

[2019-03-12 14:52] #111 closed

[2019-03-14 10:33] ChSch3000 opened #112 "Run on Kubernetes"
## Describe the problem
Because the Prometheus Node Exporter don't work with the digital ocean managed Kubernetes (See [here](https://www.digitalocean.com/community/questions/get-metrics-from-kubernetes-nodes) and [here](https://github.com/helm/charts/issues/9791)), I tried to deploy the do-node-agent on Kubernetes. For this I used the deployment file under `deploy/do-agent.yaml` with slightly cha

[2019-03-14 14:23] blockloop commented on #112
@ChSch3000 not all of the clusters have been updated with the new metadata yet. That info is being rolled out. You can run the agent without the `--k8s-metrics-path` flag and you will get the node metrics. Just remove that flag from `command` and it should run just fine :)

[2019-03-14 15:35] ChSch3000 commented on #112
@blockloop Perfect, this solves the problem.
The pods are now starting, but now I'm struggling with the next problem.
I can't curl/wget the metrics endpoint. Is 10253 the correct port? I didn't find anything in the documentation neither in the code. I just picked the value from another do-node-agent deployment.

[2019-03-16 04:27] blockloop commented on #112
The port is for [kube state metrics](https://github.com/kubernetes/kube-state-metrics) and it’s most likely not running in your cluster. We will be releasing docs very soon for that. Stay tuned.

[2019-03-21 11:04] ChSch3000 commented on #112
Alright. But is there a possibility to scrape prometheus metrics from the do-agent?
I've seen tha the do-agent is now deployed by default (Kubernetes v1.13.4, Amsterdam 3)

[2019-03-22 21:28] blockloop commented on #112
There is not a way to do that at this time. I'm going to close this issue though

[2019-03-22 21:28] #112 closed

[2019-03-22 23:22] mirkhamidov opened #114 "do agent failed to send metrics: circuit breaker is open"
## Describe the problem

we got errors

![2019-03-23_02-19-10](https://user-images.githubusercontent.com/2736223/54857754-11821a80-4d12-11e9-8398-3a31bdb10c99.png)

If restart droplet it works some time, and then starts again to show an error

in syslog
[code]

## Steps to reproduce

dont know

## Expected behavior

no error shown

## System Information
Distribution and version: Ubuntu 16.04.6 LTS

[2019-04-01 20:16] BeingTomGreen commented on #114
We're seeing the same. Have also lost historic stats as of today, and the metrics are intermittently not displaying in the dashboard.

[code]

[2019-04-01 22:47] isjg commented on #114
Looking at the code (search for: ``ErrCircuitBreaker``) it seems that the error _circuit breaker is open; deliberately failing due to exponential backoff_ is a kind of warning rather than an error. It happens when the ```do-agent``` cancels an attempt to send the data due to some problems when accessing the metrics service. Still it will try again and again each time making the waiting period stat

[2019-04-02 15:50] blockloop commented on #114
Could you provide some error logs from do-agent (if there are any)?

```journalctl -e -x -u do-agent | grep ERROR```

[2019-04-02 16:30] blockloop commented on #114
Sorry to cut this conversation short, but the issues you are describing potentially involve
much more than do-agent. if you're still having issues with the agent, please contact our
support team at https://cloudsupport.digitalocean.com/s/.

I have [updated the issue template](https://github.com/digitalocean/do-agent/commit/0a73cd792b7cc445e1ab2f5053046d645151e44f) to be more specific about the kin

[2019-04-02 16:30] #114 closed

[2019-04-06 21:35] rmbleeker opened #124 "do-agent home directory in the wrong location"
## Describe the problem
After installing the new DO Metrics Agent I noticed the service account was created with its home directory in **/home**

## Steps to reproduce
For me this was an upgrade from the old Metrics Agent so I followed the upgrade steps at https://www.digitalocean.com/docs/monitoring/how-to/switch-agents/. However when I noticed this issue I removed the new Metrics Agent and perfo

[2019-04-06 21:37] rmbleeker commented on #124
For now I've corrected this issue by stopping the service and changing it's home directory to **/var/lib/do-agent**

- `sudo systemctl stop do-agent.service`
- `sudo usermod -m -d /var/lib/do-agent do-agent`
- `sudo rmdir /home/do-agent`

[2019-04-08 02:24] blockloop commented on #124
@rmbleeker to my knowledge do-agent does not store any state information to disk. The user [is created](https://github.com/digitalocean/do-agent/blob/72e51bb4e14de349d1e6d0d02fbc96325d5e5f9a/packaging/scripts/before_install.sh#L33) using `adduser --system` which, [according to the manpage](https://linux.die.net/man/8/adduser), does not create a home directory (docs quoted below).

I've run a few t

[2019-04-08 02:37] #124 closed

[2019-04-08 18:58] rmbleeker commented on #124
Today I learned there is a difference between `useradd` (the program which man page you link to, even though it's title is **adduser**) and the Debian program `adduser`. From it's [man page](https://www.systutorials.com/docs/linux/man/8-adduser/):

[code]

Adduser is Debian specific tool that calls itself a friendlier front-end to lower level tools like useradd. In scripts you probably want to use

[2019-04-10 16:08] silazare opened #128 "Oracle Linux support"
## Describe the problem
Hello,
please consider to add Oracle Linux 7 support for do-agent install script - https://insights.nyc3.cdn.digitaloceanspaces.com/install.sh.
Logic should be as for RHEL.

My workaround was to add "**ol**" in `${dist}` options list, this works.

## System Information
Oracle Linux Server 7.6

[2019-04-10 16:17] danilowm opened #129 "[CloudLinux] This script does not support the OS/Distribution on this machine"
## Describe the problem
This script does not support the OS/Distribution on this machine

## Steps to reproduce
I remove old metrics, using:
sudo yum remove do-agent

## System Information
16 GB Memory / 320 GB Disk / NYC3 - CentOS 7.5 x64
WHM - cPanel

### do-agent information:

[2019-04-10 16:28] blockloop commented on #129
@danilowm can you please provide the contents of the following files: `/etc/os-release` and `/etc/redhat-release`

[2019-04-10 16:32] danilowm commented on #129
Sure!

`/etc/os-release`

NAME="CloudLinux"
VERSION="7.6 (Vladimir Lyakhov)"
ID="cloudlinux"
ID_LIKE="rhel fedora centos"
VERSION_ID="7.6"
PRETTY_NAME="CloudLinux 7.6 (Vladimir Lyakhov)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:cloudlinux:cloudlinux:7.6:GA:server"
HOME_URL="https://www.cloudlinux.com/"
BUG_REPORT_URL="https://www.cloudlinux.com/support"

`/etc/redhat-release`

CloudLinux release 5.6 (Vl

[2019-04-10 18:54] blockloop commented on #129
do-agent does not _officially_ [support](https://github.com/digitalocean/do-agent#overview) CloudLinux. You can however download the install.sh script and change [https://github.com/digitalocean/do-agent/blob/8d88bf39b7d690601be6634d7718f0967d366f63/scripts/install.sh#L40](this line) from `centos|fedora)` to `centos|fedora|cloudlinux)` and try again.

[2019-04-10 21:23] danilowm commented on #129
@blockloop i had to edit [this line too](https://github.com/digitalocean/do-agent/blob/8d88bf39b7d690601be6634d7718f0967d366f63/scripts/install.sh#L111) to `debian|ubuntu|centos|fedora|cloudlinux)` and maybe works

[2019-04-11 17:45] danilowm commented on #129
I accessed dashboard now and metrics really changed, but the alert continues

see:
![see](https://i.imgur.com/8IoiRiM.png)

it worked or not?

[2019-04-11 22:13] alama opened #130 "Wrong depends on Debian package"
**_Please only create a Github issue for bugs related to the code itself. If you are
experiencing an issue with sending metrics, display graphs, errors from the agent,
etc, please contact https://cloudsupport.digitalocean.com/s/ so we can provide support_**

Before opening an issue, make sure there is not a similar issue [already open](https://github.com/digitalocean/do-agent/issues)

## Describe

[2019-04-12 15:23] scott opened #131 "Silent installation failure with defunct apt repos"
**_Please only create a Github issue for bugs related to the code itself. If you are
experiencing an issue with sending metrics, display graphs, errors from the agent,
etc, please contact https://cloudsupport.digitalocean.com/s/ so we can provide support_**

Before opening an issue, make sure there is not a similar issue [already open](https://github.com/digitalocean/do-agent/issues)

## Describe

[2019-04-12 16:12] blockloop commented on #131
@scott which installation process did you use? Can you please provide the output of the script when it failed?

the [install script](https://github.com/digitalocean/do-agent/blob/8d88bf39b7d690601be6634d7718f0967d366f63/scripts/install.sh#L54) should ignore failures while trying to update apt repositories. If any relevant updates failed, the following line that installs dependencies should fail.

[2019-04-12 20:06] scott commented on #131
[code]

[2019-04-12 20:10] blockloop commented on #128
@silazare we don't have any plans to officially support Oracle Linux, but your fix seems to work :)

[2019-04-12 20:14] Hoenn commented on #129
hey @danilowm , at this point it's probably better to open a [support ticket](https://cloudsupport.digitalocean.com/s/) as there is plenty more than the do-agent involved getting those graphs. Going to close this for now, as this is probably unrelated to the code in the repo.

[2019-04-12 20:14] #129 closed

[2019-04-13 03:49] silazare commented on #128
@blockloop yes, it works ok. Thanks for the clarification!

[2019-04-13 03:58] blockloop commented on #131
It looks like the following command failed on your machine. Could you try to run this manually and paste the output here?

[code]

[2019-04-13 04:17] blockloop commented on #130
`cron-daemon` is a virtual package and has no installation candidate. I believe you have to specify either `systemd-cron` or `cron` explicitly.

https://packages.debian.org/stretch/cron-daemon

[2019-04-13 19:14] #128 closed

[2019-04-13 19:18] blockloop commented on #130
Sorry I misunderstood. You're talking about the "Depends on" within the `deb` package.

[2019-04-14 15:09] scott commented on #131
I actually already removed the offending packagecloud.io repo from sources.list and got the new DO agent installed, so I can't really test that anymore.  I can still run it if you want, but I am not sure how much value it will provide.

[2019-04-15 03:42] alvinhochun opened #132 "Daily cron job is not silent"
## Describe the problem

The daily cron job appears to not have silenced the output from yum and thus produce useless mail daily. The mail has content:

[code]

## Steps to reproduce

1. Install the new do-agent
2. Wait a day

## Expected behavior

No useless cron mail should be sent.

## System Information
Distribution and version: CentOS 7

### do-agent information:

[code]

[2019-04-15 18:45] blockloop commented on #132
I suppose we should pipe stdout to /dev/null to prevent this

[2019-04-16 11:06] alvinhochun commented on #132
Is this line missing a `-q` flag?

https://github.com/digitalocean/do-agent/blob/71379dd427f2299d3c54374d1f45ea25e3afdb88/scripts/update.sh#L9

[2019-04-20 06:04] kyranb commented on #131
Running `apt-get update -o Dir::Etc::sourcelist="sources.list.d/digitalocean-agent.list"`

gives me

W: The repository 'http://ppa.launchpad.net/fkrull/deadsnakes-python2.7/ubuntu xenial Release' does not have a Release file.
E: Failed to fetch http://ppa.launchpad.net/fkrull/deadsnakes-python2.7/ubuntu/dists/xenial/main/binary-amd64/Packages  404  Not Found
E: Some index files failed to download.

[2019-04-23 23:06] fithive commented on #132
We're also affected by this, I have started seeing new nightly emails from this cron.

-q flag mentioned by @alvinhochun would be appreciated

[2019-04-24 01:49] blockloop commented on #132
Yes, that update.sh script is located at `/opt/digitalocean/do-agent/scripts/update.sh` and it's executed by the cron.daily job. You can modify the update.sh script manually for now and we'll have an update soon.

[2019-04-24 02:48] blockloop commented on #131
Hmm. What about:

[code]

[2019-04-24 15:39] blockloop commented on #131
Okay I was able to reproduce the problem and fix it. I'll be pushing a fix shortly.

[2019-04-24 16:44] #131 closed

[2019-04-24 16:44] #132 closed

[2019-04-28 20:05] inspire22 opened #142 "upstart compatible vs. systemd & security of script installation"
Is there a way to use the new do-agent with upstart? I'm not a fan of systemd.

Also the bash upgrade script is a bit sketchy to me, if anyone hacked your github account, they could compromise the production systems of anyone who ran the script that you are recommending.  Good sysadmins will read the script, but 50% of sysadmins are not good and 25% of the good ones wouldn't catch it if someone wa

[2019-04-28 22:07] blockloop commented on #142
The script doesn't force systemd or upstart. If you have systemd installed then that's what it uses, otherwise it uses upstart. As you probably know, Linux cannot have more than one init system so the script works with whichever you have.

The update script is issuing an apt/yum upgrade. Even if, by some chance, someone were to gain access to our Github (which is a feat in and of itself). They wou

[2019-04-30 20:36] blockloop commented on #142
@inspire22 does this address your concerns?

[2019-04-30 22:03] inspire22 commented on #142
Thanks so much for your reply, I especially liked the Raphael allusion :)

My reason for disliking script-based upgrades/installations is that there is a history of people hacking users sessionids then being able to make changes on their accounts.  For example https://arstechnica.com/information-technology/2017/03/someone-is-putting-lots-of-work-into-hacking-github-developers/ though I also rememb

[2019-04-30 22:06] inspire22 commented on #142
Regarding my problem with it not working on upstart systems, here's the error I'm getting:

`...
Creating /etc/systemd/system/do-agent.service...
Created symlink /etc/systemd/system/multi-user.target.wants/do-agent.service, pointing to /etc/systemd/system/do-agent.service.
Failed to start do-agent.service: Unknown unit: do-agent.service
See system logs and 'systemctl status do-agent.service' for d

[2019-05-01 01:53] blockloop commented on #142
Can you tell me the output you get when you run `which -a systemctl`

[2019-05-01 01:56] blockloop commented on #142
if `which` command does not exist please use `command -v systemctl`

[2019-05-01 05:28] inspire22 commented on #142
root@bach:~# which -a systemctl
/bin/systemctl
root@bach:~# systemctl status do-agent.service
Failed to get properties: No such interface ''
root@bach:~# systemctl start do-agent
Failed to start do-agent.service: Unknown unit: do-agent.service
See system logs and 'systemctl status do-agent.service' for details.
root@bach:/var/log# ll /etc/systemd/system/do-agent.service
-rw-r--r-- 1 root root 371

[2019-05-01 13:38] blockloop commented on #142
@inspire22 the existence of `/bin/systemctl` on your machine means you are definitely not running upstart. Upstart and systemd are both Linux Init systems which cannot coexist. Ubuntu versions 15.05 and later run `systemd` by default. The installation script detects whether or not you're running systemd by checking for the `systemctl` binary. It installs the correct script based on your environmen

[2019-05-01 13:38] #142 closed

[2019-05-04 05:07] sillycube opened #145 "Method https has died unexpectedly!"
**_Please only create a Github issue for bugs related to the code itself. If you are
experiencing an issue with sending metrics, display graphs, errors from the agent,
etc, please contact https://cloudsupport.digitalocean.com/s/ so we can provide support_**

Before opening an issue, make sure there is not a similar issue [already open](https://github.com/digitalocean/do-agent/issues)

## Describe

[2019-05-06 13:47] blockloop commented on #145
Hey @sillycube this kind of error is usually related to an issue with apt or the package manager itself and not indicative of any issues with the package or the application. Please create a support ticket at https://cloudsupport.digitalocean.com/s/ so that you can receive the proper support.

[2019-05-06 13:47] #145 closed

[2019-05-07 14:06] blockloop commented on #124
We are indeed using `adduser` which is a perl script on most Debian and Debian-derived systems. However, RHEL systems have a symbolic link  `/usr/sbin/adduser -> /usr/sbin/useradd`.

[2019-05-07 15:33] rpscs commented on #35
Unable to install on Debian 9.9 and SysV

[code]
Any update, issue has not been resolved.

[2019-05-09 21:56] rmbleeker commented on #124
The issue is fixed now but I would still recommend switching to `useradd`, which is a lower level tool but should be available on all GNU/Linux systems and offer the exact same functionality everywhere, making your script deterministic.

[2019-05-15 22:56] belegnar opened #149 "Failed to install on ubuntu 16"
## Describe the problem
Do-agent failed to install

## Steps to reproduce
$ curl -sSL https://insights.nyc3.cdn.digitaloceanspaces.com/install.sh | sudo bash
[sudo] password for ***:
Cleaning up old sources...OK
Verifying machine compatability...OK
Verifying compatability with script...OK
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate p

[2019-05-16 00:08] blockloop commented on #149
@belegnar I'm not sure what might have happened. We test all versions rigorously on [several versions](https://github.com/digitalocean/do-agent/blob/master/scripts/uat.sh#L24-L40) of the agent including 16.04. To be sure, I just created 5 16.04 droplets just now and installed the agent with curl and all were successful.

Please reach out to https://cloudsupport.digitalocean.com/s/ to get support.

[2019-05-16 00:08] #149 closed

[2019-05-19 16:22] tairosonloa opened #150 "Daily cron updates on debian must set as non interactive task"
## Describe the problem
Some times, when do-agent updates itself via daily cron, I get an email with an error log telling `TERM` env variable is not set. That's because it's a cron job. It should indicate debian that it's a non interactive task and therefore should update silently.

**To fix it should be enought by** adding `export DEBIAN_FRONTEND="noninteractive"` to the update script. I don't do

[2019-05-20 21:40] #150 closed

[2019-05-27 02:08] PaulMesko commented on #131
For anyone still running into this, you can run
`sudo apt update`
Explicitly accept the changes, then just then the install script again:
`curl -sSL https://insights.nyc3.cdn.digitaloceanspaces.com/install.sh | sudo bash`

[2019-05-29 07:34] zdenekdrahos commented on #150
@blockloop: we are still receiving e-mails, even after cherry-picking https://github.com/digitalocean/do-agent/commit/e251c62d

[code]

_Other errors:_

[code]

[code]

[code]

[2019-06-03 13:51] blockloop commented on #150
Hey @zdenekdrahos we had some issues on the hosting side that we've recently fixed. Those errors were caused by some connection failures on our end. They should be fixed up now. We're releasing 3.0.0 this week which will contain the fix from e251c62

[2019-06-04 05:06] zdenekdrahos commented on #150
Ok. We'll try v3. But previously `DEBIAN_FRONTEND` haven't worked for us. We're using this hotfix:

[code]

[2019-06-07 22:06] greg-alfaro opened #167 "Question: Does the DO Agent generate a log anywhere on the host system?"
## Does `do-agent` generate a log prior to sending a HTTP request to the webhook? Is there any functionality to get its std-out to a log file?

## System Information
Distribution and version:
Debian Sid, do-agent v0.51, Do-Agent build HEAD.c799b1e

[code]

[2019-06-11 17:57] ivanovv commented on #145
@sillycube would be awesome if you could post the end result here!

[2019-06-11 19:02] louderthan10 commented on #131
I'm getting hitting this exact issue also on Ubuntu 14.04 after trying to [upgrade the Metrics Agent](https://www.digitalocean.com/docs/monitoring/how-to/upgrade-legacy-agent/) (on two different droplets, but configured via Serverpilot).

When I rant the two commands on the upgrade guide I get this output:

[code]

Then after finding this page I ran: `sudo apt update`

Then ran: `apt-get update -o

[2019-06-12 05:51] toxaq commented on #131
Likewise:

    Ign https://repos.insights.digitalocean.com main InRelease
    Ign https://repos.insights.digitalocean.com main Release.gpg
    Ign https://repos.insights.digitalocean.com main Release
    Err https://repos.insights.digitalocean.com main/main i386 Packages
      server certificate verification failed. CAfile: /etc/ssl/certs/ca-certificates.crt CRLfile: none
    Ign https://repos.ins

[2019-06-13 04:36] alama commented on #130
The `do-agent` package version 2.2.4 in the repos still depend on `cron`, not and `cron-daemon`

[2019-06-13 17:00] mathiasaerts opened #169 "Install script conflicts with other package installs"
## Describe the problem

As soon as a droplet is reachable, our provision script is executed, often during the installation of the `do-agent`. However, it seems that the following line in the `do-agent` install script is causing conflicts with our own provision script:
https://github.com/digitalocean/do-agent/blob/aac8ed1d0861f6c0f869d026bf1a1940ab51f179/scripts/install.sh#L59

It seems that the i

[2019-06-27 07:15] thucnc commented on #131
Please support this issue ASAP, I got the same issue on production

[2019-06-27 13:57] bsnyder788 commented on #131
You should be able to workaround this issue by using HTTP for the APT repo instead of HTTPS. Below are commands to update the sources file appropriately. There will most likely not be an official change to the agent to use http for APT for Ubuntu 14.04 since it has reached EOL.

[code]
Please let me know if this does not work for you (or if you are seeing this error on a distro other than Ubuntu 1

[2019-06-27 17:28] agargiulo opened #175 "do-agent cron.daily script needs to be quieter."
**_Please only create a Github issue for bugs related to the code itself. If you are
experiencing an issue with sending metrics, display graphs, errors from the agent,
etc, please contact https://cloudsupport.digitalocean.com/s/ so we can provide support_**

Before opening an issue, make sure there is not a similar issue [already open](https://github.com/digitalocean/do-agent/issues)

## Describe

[2019-06-27 17:39] louderthan10 commented on #131
@bsnyder788's workaround worked for me. Thank you!

[2019-06-29 07:58] PeterDaveHello opened #180 "Error message from cronjob when upgrading from v3.0.5 to v3.2.1"
##  Describe the problem
[code]

:arrow_right: `/var/lib/dpkg/info/do-agent.postrm: 17: [: Illegal number: upgrade`

The content of `/var/lib/dpkg/info/do-agent.postrm` seems to be:
https://github.com/digitalocean/do-agent/blob/bdba62d0111954726b6d800c010b3287fda45c9d/packaging/scripts/after_remove.sh

## Expected behavior

Without any error message

## System Information
Distribution and version:

[2019-06-30 14:57] abhi21x opened #181 "Can't reboot on debian with DO agent installed"
## Describe the problem
**System hangs when rebooting using command line on Debian 9.7 x64**

## Steps to reproduce

1. Install DO agent with the command: `curl -sSL https://insights.nyc3.cdn.digitaloceanspaces.com/install.sh | sudo bash`
2. type reboot after installation is finished: `reboot`

## Expected behavior
Droplet doesn't reboot like normal. Have to switch off from DO backend & then turn

[2019-07-01 14:11] blockloop commented on #181
@abhi21x, we aren't able to reproduce this. The agent does not block anything and respects all signals it receives from systemd. We aren't able to provide any support via Github tickets. If you are unable to solve the problem please create a ticket at https://cloudsupport.digitalocean.com/s/ so we can provide support.

[2019-07-01 14:11] #181 closed

[2019-07-01 22:47] FernandoGarcia commented on #131
Hi!

@blockloop I have the same problem.

[code]

[code]

Best regards.

[2019-07-02 22:12] lucafas commented on #131
Hi I was found the same issue on `Ubuntu 14.04` after trying to upgrade the Metrics Agent.

## Problem:
[code]

I inspected the install.sh script and i was able reproduce the problem sending the command at line 59:

[code]
The response was:
[code]
## Solution:

I fixed my problem, dowloading the .sh script and replacing the `https` with `http` on `line 17`
After launching another time the script,

[2019-07-11 21:35] bsnyder788 commented on #180
This was fixed in 3.3.1 so I am closing this.

[2019-07-11 21:35] #180 closed

[2019-07-11 21:36] bsnyder788 commented on #175
This should be fixed with releases >= 3.3.1.

[2019-07-11 21:36] #175 closed

[2019-07-16 16:29] blockloop commented on #167
This version (0.5.1) of do-agent is no longer supported or maintained. Please [upgrade your agent to the latest version](https://www.digitalocean.com/docs/monitoring/how-to/upgrade-legacy-agent/).

That being said, the agent logs to stdout/stderr unless it's given the `--syslog` flag (which is used by default). You should be able to check the logs using `journalctl -u do-agent`

[2019-07-16 16:29] #167 closed

[2019-07-19 18:00] #169 closed

[2019-07-21 10:25] exodus4d opened #191 "failed to read response body of sonar message: +invalid character"
## Describe the problem
The metric report seems to work. But there are some error reported in the `go-agent` logs:

[code]
## Steps to reproduce
watch err logs:
`journalctl -fp err`
... or service status:

![AtAydBR](https://user-images.githubusercontent.com/9299033/61589981-f33e0580-abb1-11e9-8093-46d1233407bf.png)

## System Information
Distribution and version:

### do-agent information:
[code]

[2019-07-21 13:25] blockloop commented on #191
@exodus4d as mentioned in the issues template, we aren’t able to provide support through GitHub for issues sending metrics, display graphs, errors from the agent, etc. Please reach out to https://cloudsupport.digitalocean.com/s/ so we can provide necessary support.

[2019-07-21 13:25] #191 closed

[2019-08-02 15:47] monoflash opened #201 "Upgrade from the Legacy Metrics Agent to the Current Agent"
[code]

Please post links to rpm packages, you do not know how to make scripts. Once again I have to open the script and collect the link to download and install the package with my hands.
I hope that I was heard.
Thanks.

[2019-08-02 16:00] blockloop commented on #201
Please don't post any insulting comments. If you feel like there is an issue with the script please fill out the issue template appropriately so we know what we're supposed to help you with.

The script is designed to ignore unsupported distros. One of the questions in the issue template asks which distro you're running. If your distro is listed [under the supported distros list](https://github.co

[2019-08-02 16:07] monoflash commented on #201
I did not insult anyone, not even a thought about it. Not being able to do anything is an insult only for non-professionals.

If you are not professionals, then I apologize for having offended your incompetence.

The question is closed.
Thanks.

[2019-08-02 16:07] #201 closed

[2019-08-02 17:54] thorfour commented on #201
You might find this link helpful

https://youtu.be/lUZ1ytMrkvA

[2019-08-05 13:51] Pls commented on #35
Same problem on Debian 9.7, maby anyone has workaround on this issue?

[2019-08-05 14:14] Pls opened #202 "Debian 9.7 - missing sysvinit support"
Found pretty much same issue about this https://github.com/digitalocean/do-agent/issues/35, but opening new one as it's closed and can't be re-opened easily.

## Describe the problem

Can't install do-agent on Debian 9.7 with sysvinit ini system.

## Steps to reproduce

Have Debian 9.7 with sysvinit and try to install do-agent. Throws this error:

[code]

## Expected behavior

do-agent should supp

[2019-08-16 18:37] muhdazrain commented on #131
Works for me. Thanks.

[2019-08-22 22:27] pirate opened #208 "Where is the configuration?"
I'd like to change the `noProcesses` config option and bring it down to 2 workers, but I cant find any config file in `/opt/digitalocean` or `/etc` that might be related.

Does `do-agent` have config documentation somewhere that I'm missing?

Thanks!

[2019-08-22 22:49] blockloop commented on #208
Hey @pirate there's no configuration file. All of the configuration options are available by calling `do-agent --help`. However, I'm not sure what you mean by "bring it down to 2 workers"

[2019-08-22 23:58] pirate commented on #208
Perfect, that works.  Also sorry I mistook the threads for worker processes in tmux because I had coloring off, don't need this option if they're just threads.

[2019-08-22 23:58] #208 closed

[2019-09-18 08:43] aske-cph commented on #150
Returns:
[code]

[2019-09-20 13:44] cornelius-keino opened #210 "error"
how can i solve this

 # make fetchindex
make: "/etc/make.conf" line 8: Need an operator
make: Fatal errors encountered -- cannot continue
make: stopped in /usr/home/afnog

[2019-09-20 13:47] hoenn commented on #210
@cornelius-keino I'm not sure what you're looking for, but it does look unrelated to the `do-agent`. If you run into an issue with the `do-agent` feel free to open an issue that follows our issue [template](https://github.com/digitalocean/do-agent/blob/master/.github/ISSUE_TEMPLATE.md)

[2019-09-20 13:47] #210 closed

[2019-10-01 15:57] richbleeker commented on #150
@aske-cph Same here, also on Ubuntu 14.04. Did you manage to solve it on your server?

[2019-10-09 06:10] truls1502 commented on #129
I have created a fix on the PR #211 for CloudLinux.

[2019-10-18 18:00] Danyc0 commented on #202
I'm having exactly the same issue on Debian 10.1 with sysvinit, +1

[2019-10-22 18:37] bryan-pg commented on #150
@aske-cph I am also getting this error. any updates?

[2019-10-22 18:41] bsnyder788 commented on #150
@aske-cph @richbleeker @bryan-pg Check out the workaround over on this thread: https://github.com/digitalocean/do-agent/issues/131#issuecomment-506357527

[2019-11-01 15:10] acurrieclark opened #212 "Agent does not work when /proc mount has hidepid=2 set"
## Describe the problem

I confess this is not an issue with the code, but having spent most of the day diagnosing the problem, I feel it may be worth letting people know about.

I was creating a few CIS hardened Ubuntu 18.04 droplets using a tried and tested script. I then noticed that DO monitoring had stopped functioning, the CPU usage (measured using `htop`) was at a constant 100% and the sysl

[2019-11-03 14:25] nunojpg opened #213 "do-agent on CoreOS giving absurd values for Bandwidth"
Statistics before installing agent:

![Screenshot from 2019-11-03 14-55-44](https://user-images.githubusercontent.com/3163870/68086615-e803a280-fe4d-11e9-9e21-31d76da6f8ba.png)

Statistics after installing agent:

![Screenshot from 2019-11-03 15-22-01](https://user-images.githubusercontent.com/3163870/68086617-ee921a00-fe4d-11e9-8c14-22f79fd8dd75.png)

This is for the same instance. I'm running Co

[2019-11-04 17:15] thorfour commented on #213
Thanks for taking the time to write up an issue. Unfortunately at this time CoreOS is not officially supported by the DO agent, and I wasn't able to reproduce any problems with the agent on the latest version of CoreOS.

[2019-11-04 17:15] #213 closed

[2019-12-09 01:58] txl263 opened #214 "[ArchLinux]This script does not support the OS/Distribution on this machine."
#cat /proc/version
`Linux version 4.19.88-1-lts (linux-lts@archlinux) (gcc version 9.2.0 (GCC)) #1 SMP Thu, 05 Dec 2019 12:30:39 +0000`

#curl -sSL https://repos.insights.digitalocean.com/install.sh | sudo bash
[code]

[2019-12-09 02:00] thorfour commented on #214
This is correct behavior. Arch Linux is currently not officially supported.

[2019-12-09 02:00] #214 closed

[2020-01-07 07:17] pravargauba opened #217 "Upgrade metrics agent script at times crashes in 14.04 ubuntu servers."
**Please note: All of our DO boxes are ubuntu 14.04 configured, but in some boxes the script gets executed, and in some boxes, it gets failed. Have re-ran the script several times, still the problem persists.**

## Describe the problem
I am trying to upgrade the metrics agent on multiple servers at once, hence using the script mentioned in documentation.(link: `https://github.com/digitalocean/do-a

[2020-01-07 16:06] #212 closed

[2020-01-09 08:10] pravargauba commented on #217
@blockloop

[2020-01-28 16:39] ovikholt opened #218 "Improve name of project"
I find myself wondering, "do-agent...? What does it do?" a number of times, while I'm following the upgrade instructions at https://www.digitalocean.com/docs/monitoring/how-to/upgrade-legacy-agent/. Finally I arrive at your github page, and get it.

do-agent is a horrible name! Couldn't you have called it digitalocean-agent????

What's going on with naming these days? Indeed naming always is and r

[2020-01-28 17:41] thorfour commented on #218
Thanks for the input! While I agree it isn't the best name, the decision has been made and we aren't looking to rename at this time.

[2020-01-28 17:41] #218 closed

[2020-03-16 11:14] #217 closed

[2020-03-22 20:54] alexyorke opened #220 "apt-listbugs causes installation script to get stuck in infinite loop"
**_Please only create a Github issue for bugs related to the code itself. If you are
experiencing an issue with sending metrics, display graphs, errors from the agent,
etc, please contact https://cloudsupport.digitalocean.com/s/ so we can provide support_**

Before opening an issue, make sure there is not a similar issue [already open](https://github.com/digitalocean/do-agent/issues)

## Describe

[2020-05-29 13:06] #220 closed

[2020-05-31 20:45] dariosusman commented on #202
Still going on on Debian 10.4 with sysvinit.

[2020-06-01 12:20] bcspragu opened #223 "[Flatcar Container Linux] This script does not support the OS/Distribution on this machine"
[code]

CoreOS Container Linux has reached its [end of life](https://coreos.com/os/eol/).  The DigitalOcean email about this suggested running [Fedora CoreOS](https://getfedora.org/coreos/download?tab=cloud_operators&stream=stable) or [Flatcar Container Linux](https://docs.flatcar-linux.org/os/booting-on-digitalocean/). I'm running the latter.

It might be intentional that this is currently unsupp

[2020-06-01 12:44] bcspragu commented on #223
Closing this issue, as I saw the documentation about running in a Docker container, and that worked fine.

[2020-06-01 12:44] #223 closed

[2020-06-01 12:46] bcspragu commented on #223
In case it's useful for anyone, here's the systemd unit file I used to run this:

[code]

[2020-06-15 14:38] daurnimator opened #224 "Usage with kube-rbac-proxy in front of kube-state-metrics"
We use [kube-rbac-proxy](https://github.com/brancz/kube-rbac-proxy) in front of our kube-state-metrics instance as recommended by https://github.com/coreos/kube-prometheus.

How can we configure the do-agent to talk to it? As far as I can see, there is no argument to do-agent to get it to present a valid and RBAC authorized token or client TLS certificate.

Downstream issue: https://github.com/has

[2020-07-12 16:55] linuxexp opened #226 "reading the do-agent metrics in a grafana dashboard"
**_Please only create a Github issue for bugs related to the code itself. If you are
experiencing an issue with sending metrics, display graphs, errors from the agent,
etc, please contact https://cloudsupport.digitalocean.com/s/ so we can provide support_**

Before opening an issue, make sure there is not a similar issue [already open](https://github.com/digitalocean/do-agent/issues)

## Describe

[2020-07-15 20:18] bsnyder788 commented on #226
@linuxexp you could definitely use that prometheus endpoint in your own Grafana instance if you like.  You would not be able to collect similar data from a managed database instance though.

[2020-07-15 20:18] #226 closed

[2020-07-15 20:19] bsnyder788 commented on #226
I closed this as it is not a bug related to the actual code.

[2020-07-15 20:20] bsnyder788 commented on #224
@daurnimator did you setup your own kubernetes cluster on droplets or are you referring to the managed Kubernetes product (DOKS)?

[2020-07-21 05:56] linuxexp commented on #226
Thank you @bsnyder788

[2020-08-18 22:25] dariosusman commented on #202
Hi!
This is still on going! And I don't want to use systemd :\

[2020-09-14 06:52] daurnimator commented on #224
This is with a DOKS cluster.

[2020-09-15 17:53] bsnyder788 commented on #224
Thanks for the info @daurnimator, I put something on our radar to investigate compatibility and will let you know what I find out.

[2020-09-27 13:11] yevon opened #228 "Unable to gather advanced metrics"
## Describe the problem
When I install the advanced kube-state-metrics deployment, the dashboard for gathering metrics stops working. If I check do-agent pod logs, I see some errors, stating duplicated attribute values. I followed this guide for activating advanced metrics:

https://www.digitalocean.com/docs/kubernetes/how-to/monitor-advanced/

If I uninstall advanced-metrics or scale the pods to

[2020-09-29 20:17] bsnyder788 commented on #228
@yevon I will look into this soon, and see if I can reproduce it on my end! Thanks for the report!

[2020-10-14 18:19] lots0logs opened #233 "do-agent process constant high CPU usage"
## Describe the problem
The agent process uses 250-300% CPU the entire time it's running. That can't be normal.

## Steps to reproduce
Run do-agent on a droplet.

## Expected behavior
Does not constantly eat 250-300% CPU.

## System Information
Ubuntu 20.04.1

### do-agent information:
Paste the entire output

`/opt/digitalocean/bin/do-agent --version`:

[code]

_Ubuntu, Debian_

`apt-cache policy

[2020-10-14 20:01] bsnyder788 commented on #233
@lots0logs I can't reproduce this with just spinning up a 20.04 droplet with the agent - it seems to be working just fine on the 10, 20.04 droplets I just spun up (and there is no spammy logs hitting the journal).  We did have a similar report (https://github.com/digitalocean/do-agent/issues/228) - but in that case the user was using DOKS and it was with an alpha version of kube-state-metrics.  I

[2020-10-14 21:13] lots0logs commented on #233
@bsnyder788 Yeah looks like I have `rancher/coreos-kube-state-metrics:v1.9.5` container running one one of my nodes. Though the issue I described happens on all nodes.

[2020-10-15 14:42] bsnyder788 commented on #233
Thanks for the extra info @lots0logs . I'll see if I can reproduce it on a k8s cluster and get to the bottom of why these errors are popping up for you.

[2020-10-15 15:14] bsnyder788 commented on #233
I was not able to reproduce on it a k8s cluster either.  Can you try adding `--web.listen` in the systemd unit file (in the ExecStart line). e.g. `ExecStart=/opt/digitalocean/bin/do-agent --web.listen --syslog`. After doing a `systemctl daemon-reload` and a `systemctl restart do-agent`, you should be able to do a `curl localhost:9100` and get the raw metrics that are being scraped. I would be curi

[2020-10-29 18:07] UnKnoWn-Consortium commented on #233
I have encountered the exactly same issue (even the systemd message is the same) with do-agent on two droplets running Ubuntu 20.04.1. One was set up yesterday while the other one has been in use for just a month or so. I have to stop the do-agent service.

[2020-10-29 18:10] UnKnoWn-Consortium commented on #233
Following your guide, I am able to get the following:

[code]

[2020-10-30 09:15] plutocrat commented on #233
Confirmed here. Running 4 Ubuntu 20.04 droplets. On all 4 do-agent cpu is around 95% all the time.
Tried the --web.listen instruction, but apparently nothing listening on that port when I do.
Installed version: 3.7.1

[2020-10-30 10:47] bsnyder788 commented on #233
When you do the `curl localhost:9100` what is the raw output?

[2020-10-30 10:57] bsnyder788 commented on #233
Is your 20.04 image the stock DO image or a custom 20.04 image?

On Fri, Oct 30, 2020, 5:15 AM plutocrat <notifications@github.com> wrote:

[2020-10-30 10:59] UnKnoWn-Consortium commented on #233
The quoted part was exactly what I got when I did `curl localhost:9100`.

[2020-10-30 11:02] UnKnoWn-Consortium commented on #233
Both affected droplets were built from the stock DO Ubuntu 20.04 LTS image with "Monitoring" option checked at the dashboard at [https://cloud.digitalocean.com/droplets/new](https://cloud.digitalocean.com/droplets/new).

[2020-10-30 11:04] bsnyder788 commented on #233
Ok, thanks. I wanted to make sure that was all the info we could discern.

[2020-10-30 11:05] bsnyder788 commented on #233
Thanks. I will try to reproduce from that .

[2020-10-30 13:40] bsnyder788 commented on #233
I couldn't reproduce on a myriad of 20.04 droplets either, but I went ahead and made a new beta release that disables the collection of `/boot` mountpoints. If some of you would give it a try to see if it now works on your specific droplets that would be fantastic. You can install it via `curl -SsL https://repos.insights.digitalocean.com/install.sh | sudo BETA=1 bash` . Please let me know if that

[2020-10-30 13:40] UnKnoWn-Consortium commented on #233
@bsnyder788 The 3.8.0 pre-release you have just made seems to have fixed the issue.

[2020-10-30 13:45] bsnyder788 commented on #233
Thank you so much for testing it out @UnKnoWn-Consortium, that is great that it is helping out.  I will leave this release in beta over the weekend and check in early next week to make sure no other regressions or issues have shown themselves to you by then and if all is good, I will promote 3.8.0 to stable.

[2020-10-30 14:23] UnKnoWn-Consortium commented on #233
Okay I will keep an eye out and see if anything goes astray with it (I seriously hope not). Have a nice weekend btw.

[2020-10-31 02:28] plutocrat commented on #233
Also confirming DO stock Ubuntu 20.04 build.
Have installed the beta release on one of the four affected boxes, and its showing healthy, near-zero CPU. Thanks. Will monitor.

[2020-11-01 04:20] plutocrat commented on #233
24 hours later, and its still OK.
Note: if you've been affected by this issue you might want to clean out your systemctl logs. Just got rid of 3.5 Gb of spam from mine using "/bin/journalctl --vacuum-size=500M". Your mileage may vary: there may be more subtle ways to remove the logs from just do-agent, although I haven't found them.

[2020-11-01 06:42] lots0logs commented on #233
Sorry for the delayed response. We had a hurricane here and I was without power for a few days. I'm glad to see that y'all were able to identify and implement a fix! Thanks!!

[2020-11-02 13:37] bsnyder788 commented on #233
Thanks all! I'm going to go ahead and release 3.8.0 on the stable branch as well.

[2020-11-02 13:42] bsnyder788 commented on #233
3.8.0 is officially released. I am going to close this. Please open a new issue if you see anything similar in the future. Thanks!

[2020-11-02 13:42] #233 closed

[2020-11-02 13:55] bsnyder788 commented on #228
I wasn't able to reproduce this issue @yevon. We had a similar report for Ubuntu 20.04 on disk metrics collection that I just addressed in 3.8.0.  This kube metrics one would not be able to be easily ignored like that one though since these are metrics we actually want to collect. Did you ever dig any deeper on your end?

[2020-11-02 14:52] yevon commented on #228
I didn't check again with latest version, but I reproduced this issue exactly in another kubernetes cluster in another zone. Just a new kubernetes cluster and following DO documentation for installing advanced metrics. It might be fixed within latest advanced metrics or kubernetes version, when I have time to check it again I will let you know.

[2020-11-15 23:23] daurnimator commented on #224
.

[2020-11-26 23:56] daurnimator commented on #224
wut? why was this closed by the stale bot; there was a comment 11 days ago.

[2020-11-29 13:59] bsnyder788 commented on #224
no idea why the bot still closed it :/

[2020-12-27 15:15] mjakob-gh opened #236 "do-agent on FreeBSD does build but not run"
## Describe the problem
Building the latest version from Github works but running the binary results in the panic below.
[code]

## Steps to reproduce
Install git and golang:
`pkg install git-lite`
`pkg install go`
checkout the code from Github:
`git clone https://github.com/digitalocean/do-agent.git ./do-agent`
cd to do-agent directory:
`cd do-agent`
build agent with command (example, change vers

[2020-12-27 15:26] mjakob-gh opened #237 "do-agent on FreeBSD exports only CPU, load, disk usage and bandwidth metric"
## Describe the problem
The with fix https://github.com/digitalocean/do-agent/issues/236 build do-agent exports only CPU, load, disk usage and bandwidth metric, at least thats what is shown in the Graphs on the webinterface.

## Steps to reproduce
create a FreeBSD droplet, install the do-agent (steps to build it are in #236), run the agent e.g:
`do-agent-freebsd-amd64 --debug --collector.cpu --col

[2020-12-27 15:37] mjakob-gh commented on #237
The node_exporter which is the base of do-agent, as far as i can see, extracts a lot more metrics from a FreeBSD System. e.g
`node_exporter --log.level=debug --collector.filesystem.ignored-fs-types='^(cd9660|procfs|devfs)$' --collector.netdev.device-blacklist='^(lo0|pflog0)$' --collector.devstat`

yields these metrics:
[code]

Version of node_exporter:
[code]
reads this metrics

[2020-12-30 18:24] bsnyder788 commented on #237
:wave: hey @mjakob-gh this is intended functionality.  Thanks for opening the 2 issues around FreeBSD.  I will look into fixing the build issue you pointed out in the other issue.  The metrics visible in the cloud UI are the only ones we store on our side for display that way.

[2021-01-02 19:41] mjakob-gh commented on #237
Thanks for looking into this. Just to clarify, the graphs of my droplet show the metrics for CPU, load, disk usage and bandwidth, but the metrics for Memory and Disk I/O have **no Data**, see this screenshot:
![image](https://user-images.githubusercontent.com/19156568/103465140-52a5bc00-4d39-11eb-8ba4-491f0c863e19.png)

The node_exporter can read these values (see the node_devstat... and node_memo

[2021-01-04 14:27] bsnyder788 commented on #237
@mjakob-gh thanks for the clarification. I will look into both of your issues and see if we can make it work better in general on FreeBSD

[2021-01-04 18:29] bsnyder788 commented on #228
still valid

[2021-01-04 18:29] bsnyder788 commented on #236
This should be resolved now @mjakob-gh with the latest commit to master. Please re-open if you are still seeing issues.

[2021-01-04 18:29] #236 closed

[2021-01-07 18:22] mjakob-gh commented on #236
With this commit, do-agent now builds and runs without error on FreeBSD. Values for "CPU", "Load", "Disk Usage" and "Bandwidth" are updated on the graph page. Looking forward to the "Memory" and "Disk I/O" graphs appearing, too :wink:

[2021-01-07 18:52] mjakob-gh commented on #237
I created a beefy Ubuntu droplet to see, how the performance monitoring looks over there. I noticed that only "Bandwidth", "CPU Usage" and "Disk I/O" is shown on the graph page.
![image](https://user-images.githubusercontent.com/19156568/103931073-fddeb880-511f-11eb-99a7-28d745ece31d.png)
Maybe there were changes in this functionality, since my droplet is 3 years old, by now. So, if "Memory", "Dis

[2021-01-07 19:20] bsnyder788 commented on #237
The graph view you are seeing there is the hypervisor graph view which is shown for droplets without the do-agent installed.  Are you sure that Ubuntu droplet has the agent installed and running? @mjakob-gh

[2021-01-07 20:02] bsnyder788 commented on #237
You may have to hard refresh the page if you just installed the agent as well for it to get picked up and transition to the more detailed view.

[2021-01-07 20:18] mjakob-gh commented on #237
Ah, yes. I visited various parts of the web interface like Networking or Volumes, but when coming back, the graphs did not change. After a ctrl+F5 the correct graphs are displayed, even with the single CPU % value like in my FreeBSD droplet. Thanks.

[2021-01-20 04:27] mdanzinger commented on #224
Hey @daurnimator,

v3.9.0 introduces the `bearer-token` and `bearer-token-file` flags allowing you to pass bearer tokens to the agent. You can deploy this version by changing the image tag to "beta" in the do-agent manifest. Please let me know if you encounter any further issues.

[2021-02-17 04:26] hughcrt commented on #236
Any update about "Memory" and "Disk I/O" for FreeBSD?

[2021-03-30 23:43] computator opened #245 "Agent incorrectly calculates memory usage"
## Describe the problem
The agent uses an outdated/inaccurate method to calculate memory usage percentage. This results in getting high memory usage alerts when there is actually plenty of memory, as well as inaccurate usage metrics.

Here's a specific example of a node where I just did something that scanned a lot of files and thus the kernel cached the files in unused memory (which is of course

[2021-04-02 13:51] bsnyder788 commented on #245
Thanks for the report @computator, we will definitely assess this and get back to you.

[2021-04-27 11:19] alzeih opened #246 "do-agent --collector.<name> flags are confusing"
## Describe the problem

While experimenting with do-agent, I wanted to see if do-agent could support additional metrics for monitoring, graphing and alerting on DigitalOcean. I ran `do-agent --help` and saw options for enabling collectors that look familiar from the prometheus node_exporter to me. I tried to enable a collector using command-line flags, and received an error that I had to check th

[2021-04-27 11:28] alzeih commented on #246
This issue is somewhat related to https://github.com/digitalocean/do-agent/issues/52 too.

[2021-04-28 16:45] anitgandhi commented on #246
I'm facing the same issue.

I think the help string containing `(default: true)` are coming from node_exporter's kingpin flags themselves: https://github.com/prometheus/node_exporter/blob/v1.0.1/collector/collector.go#L67

meanwhile, in do-agent, various collectors are disabled by default as pointed out above: https://github.com/digitalocean/do-agent/blob/a5ad2142ebafb056e916e592e57840fa41d4ce31/c

[2021-05-07 13:01] bsnyder788 commented on #245
:wave: hey @computator I added support to collect MemAvailable in the lastest agent build (3.10.0 - currently in beta). Will probably move that to the stable release channel early next week. After that I will be working on updating to use the (MemTotal - MemAvailable) / MemTotal for machines that have MemAvailable available (Linux 3.14+ I believe).

[2021-05-07 14:50] computator commented on #245
Awesome! Glad to hear it!

[2021-05-11 15:54] bsnyder788 commented on #245
@computator  the graphs in the UI should now use the (MemTotal - MemAvailable) / MemTotal calculation if you have the 3.10.0 agent installed. Would you mind checking it out and report back if things are looking better for you?  We have not migrated the alerts to use this new calculation yet, but will be soon if no regressions are detected. Thanks!

[2021-05-11 21:51] computator commented on #245
@bsnyder788 Everything seems to be working correctly as far as I can tell!

[2021-05-12 15:27] bsnyder788 commented on #245
@computator All the existing alert policies have been migrated to the new formula as well. Going to close this issue out. Thanks again for the report!

[2021-05-12 15:27] #245 closed

[2021-06-04 15:59] #224 closed

[2021-06-04 15:59] bsnyder788 commented on #237
still valid

[2021-06-04 16:00] bsnyder788 commented on #228
still valid

[2021-07-02 17:20] blockloop commented on #228
@bsnyder788 if you add the `bug` tag to this bug then the stale bot will stop marking it as stale. I _believe_ that's the correct tag, but you can look it up in the stale bot settings for this repo.

[2021-07-08 12:43] alzeih commented on #246
This issue is not stale and has not received a response from Digital Ocean in 3 months.

[2021-07-30 10:28] pmalhaire commented on #114
I faced the same issue

[2021-07-31 19:55] rootlinux2 commented on #114
I'm facing the same ISSUE

[2021-09-07 12:46] bsnyder788 commented on #237
still valid

[2021-09-07 12:46] bsnyder788 commented on #246
still valid

[2021-09-26 13:40] markzhang1996 opened #252 "Support for Rocky Linux"
## Describe the problem
The installation script does not support Droplets with OS Rocky Linux. I think it should be compatible with CentOS.

## Steps to reproduce
Run `curl -sSL https://repos.insights.digitalocean.com/install.sh | sudo bash`  in bash, and the script stop at output "**This script does not support the OS/Distribution on this machine.**"

## Expected behavior
Install DigitalOcean Age

[2021-10-07 15:21] bsnyder788 commented on #252
Rocky Linux is now supported and you should be good to go. Thanks for opening the issue!

[2021-10-20 19:46] sdwru opened #257 "do-agent does not start on CentOS v7"
### To Reproduce
Install the latest do-agent from yum repository.  Run `journalctl -f` to watch systemd logging in real time.  From another shell run `systemctl restart do-agent`

You will see the following error in the journalctl shell:
[code]
### To Fix
[code]
Run `systemctl restart do-agent` again and it should work now

[2021-10-26 09:15] bobbyiliev opened #258 "Package gnupg2 not available on Ubuntu20.04 and superior"
On current Ubuntu 20.04 LTS distributions and newer, the `gnupg2` package seems to be unavailable.

It has been replaced by `gnupg`.

[code]
[code]

[2021-10-26 13:56] #258 closed, assigned to nobody

[2021-11-26 10:33] farwel opened #262 "server certificate verification failed"
## Describe the problem
The installer fails to install do-agent.

## Steps to reproduce
[code]

## Expected behavior
We expect do-agent to be properly installed.

## System Information
Distribution and version:
[code]

[2021-12-18 19:23] nurupo opened #263 "do-agent logging into /var/log/kern.log"
## Describe the problem

do-agent logs appear in `/var/log/kern.log`.

## Steps to reproduce

[code]

## Expected behavior

do-agent doesn't write into `kern.log` but into something more appropriate, maybe `/var/log/syslog`.

## System Information
Distribution and version: Debian 9

### do-agent information:
Paste the entire output

`/opt/digitalocean/bin/do-agent --version`:

[code]

_Ubuntu, Deb

[2021-12-21 21:28] bsnyder788 commented on #263
@nurupo thanks for the report, I will make a PR to fix this up!

[2021-12-21 21:36] #263 closed

[2021-12-21 21:36] bsnyder788 commented on #263
We will roll out an official release with this fix, early next year @nurupo

[2021-12-31 22:47] nurupo opened #265 "Some files have wrong UID"
## Describe the problem
I have noticed that `/etc/systemd/system/do-agent.service` is owned by a user I have created before I have ever installed do-agent: 999/letsencrypt.

[code]

It's supposed to be owned by 995/do-agent instead:

[code]

I have created the user 999/letsencrypt on 2018-08-17 and never deleted them. I have installed do-agent (3.9.4) for the first time on 2021-04-29. It should ha

[2022-01-04 13:27] bsnyder788 commented on #265
@nurupo I wasn't able to reproduce this myself with the latest agent. (or on droplets that have been through mostly 2.x and 3.x versions over the past 2 years). You might be right that it was due to a much older release having an issue.

[2022-01-05 09:35] nurupo commented on #265
I have this issue on all 5 of my droplets. It's as if do-agent was hardcoded to use UID/GID 999 when installing files at some point, despite there existing some other user under that UID/GID already. On a more recent Debian Droplet, from around July 2020, there is `systemd-coredump:x:999:999:systemd Core Dumper:/:/usr/sbin/nologin` user, and the files are owned by it instead.

Anyway, please don't

[2022-01-10 04:12] alzeih commented on #246
Issue not stale yet, just a bit older.

[2022-01-10 15:52] bsnyder788 commented on #237
still valid

[2022-01-10 15:53] bsnyder788 commented on #257
still valid

[2022-02-12 14:32] keszybz opened #266 "Please provide a systemd timer as alternative to the crontab entry"
On a Fedora installation, `do-agent` and `droplet-agent` are the only two things that pull in `cronie` and `cronie-anacron`. On systems where you're providing a systemd service anyway, it'd be nice to replace the crontab entry by a systemd timer and drop the dependency on `cronie`.

Something like this should work:
[code]
See e.g. `dnf-automatic.timer` and `dnf-automatic.service` for an example of

[2022-03-17 00:45] QuLogic commented on #130
If you applied #266, then the package wouldn't need to depend on cron at all.

[2022-04-16 07:47] bsnyder788 commented on #257
still valid

[2022-04-16 07:47] bsnyder788 commented on #237
still valid

[2022-04-16 07:48] bsnyder788 commented on #266
still valid

[2022-04-16 07:48] bsnyder788 commented on #265
still valid

[2022-04-16 07:48] bsnyder788 commented on #262
still valid

[2022-04-16 07:48] bsnyder788 commented on #246
still valid

[2022-06-20 04:13] Quppa opened #268 "Ubuntu 22.04: apt-key is deprecated warning"
## Describe the problem

Cross-posting from [DigitalOcean Community](https://www.digitalocean.com/community/questions/digitalocean-agent-key-deprecation-warning-in-ubuntu-22-04-jammy).

On a fresh Ubuntu 22.04 droplet, running `curl -sSL https://repos.insights.digitalocean.com/install.sh | sudo bash` produces a warning about `apt-key` being deprecated:
[code]

Likewise, on an Ubuntu 22.04 droplet

[2022-06-20 10:35] Quppa commented on #268
I noticed that `https://repos-droplet.digitalocean.com/install.sh` is different to `https://repos.insights.digitalocean.com/install.sh` referenced in this repo's README.md and doesn't use `apt-key`.

[2022-07-26 20:19] bsnyder788 commented on #266
still valid

[2022-07-29 07:44] nwtnsqrd opened #270 "Updates change `/etc/passwd`"
**_Please only create a Github issue for bugs related to the code itself. If you are
experiencing an issue with sending metrics, display graphs, errors from the agent,
etc, please contact https://cloudsupport.digitalocean.com/s/ so we can provide support_**

Before opening an issue, make sure there is not a similar issue [already open](https://github.com/digitalocean/do-agent/issues)

## Describe

[2022-07-29 17:34] mdanzinger opened #271 "New Issue Test"
Testing slack integration

[2022-07-29 17:34] #271 closed

[2022-09-06 19:41] sjourdan opened #272 "RSA/SHA1 signature not allowed to be used on RHEL 9"
Hi!

## Describe the problem
I'm trying to upgrade a droplet from RHEL8 to RHEL9 and can't do so because of the `do-agent` SHA-1 signature.
Here's the `leapp` output (Red Hat's upgrade tool):

[code]

## Steps to reproduce

- start from a RHEL8.6 droplet
- try to upgrade it to RHEL9 following the [official RHEL docs](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/9/html/upg

[2022-09-28 15:03] gamunu commented on #268
The solution worked with jammy ubuntu. I'm commenting on this just in case someone is looking for a fix until the documents and the scripts get updated.

[code]

[2022-11-01 09:06] matthys70 commented on #268
It's a pity this is still not solved. And why two repositories for do-agent and droplet-agent? Where indeed the droplet-agent repository is signed correctly.

[2022-11-09 11:28] userbradley opened #273 "Key is stored in legacy trusted keyring"
## Describe the problem

Key is stored in legacy trusted keyring

## Steps to reproduce

create Ubuntu server using `119383150`

`apt-get update`

[code]

## Expected behavior

No error

## System Information
Distribution and version:

Image ID: `119383150`

### do-agent information:

[code]

_Ubuntu, Debian_

[code]